/// ========================== _contact.module.scss ================== ///
/// This is the custom styles for the /contact page.
/// =============================================================== ///

@import '../default/variables'; 

.pageContent {
    padding-top: 100px;
    padding-bottom: 100px;
}

.paragraph {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    color: $body-color;
    margin-bottom: 20px;
}

.contactText {
    a {

        color: $body-color;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-bottom: 5px;
        color: $body-color;
    }

}

.elevateYourGameText {
    font-weight: 600;
    line-height: 1.5;
    color: $body-color;
    margin-bottom: 20px;

    @media #{$sm-layout} {
        font-size: 18px;
    }

    @media #{$md-layout} {
    }

}

.elevateYourGameIcon {
    margin-bottom: 25px;
    margin-left: 15px;
    background-color: $body-color;
    border-radius: 50%;
    width: 60px;
    height: auto;
}


