/// ========================== _home.module.scss ================== ///
/// This is the custom styles for the home page.
/// It uses a full page image that is flexible to the size of the screen.
/// =============================================================== ///

@import '../default/variables'; 

// Set height & width to fill the screen
.wrapper, 
.overlay,
.backdrop {
    height: 100%;
    width: 100%;
}

.backdrop {
    position: fixed;
    top: 0;
    background-image: url('/assets/images/home-bg-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.2;
}

.overlay { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 100px;
    position: fixed;

    @media #{$sm-layout} {
        justify-content: start;
        padding-top: 100px;
    }

    @media #{$md-layout} {
        justify-content: start;
        padding-top: 150px;
    }

    img { 
        height: 400px;
        width: auto;
    
        @media #{$sm-layout} {
            height: 250px;
        }

        @media #{$md-layout} {
            height: 200px;
        }
    }

    h1 {
        font-weight: 900;
        color: #f5efbd;
        text-align: center;
        font-size: 34px;

        @media #{$sm-layout} {
            font-size: 18px;
        }
    }
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    p {
        color: #c6c9d8;
        font-size: 14px;
        opacity: 0.75;
    }
}